*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.job01_test {
    background-color: rebeccapurple;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 24;
    align-items: center;
}